{% extends 'layout.html'%}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to Dashboard</h1>

    <h3>Sensor Data</h3>
    <div class="row">
      {% for device in devices %}
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <hr>

          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    <h3>List of the Devices</h3>
    <div class="row">
      {% for device in devices %}
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <div class="card-panel grey lighten-2" >{{device.name}} is {{device.status}}.</div>
            <hr>
            {% if device['status'] == 'off' %}

            <a class="btn disabled">OFF</a>
     	     <a class="btn grey darken-2 waves-effect waves-light" href="device/{{device.id}}/on">ON</a>
            {% else %}

            <a class="btn grey darken-2 waves-effect waves-light" href="device/{{device.id}}/off">OFF</a>
     	     <a class="btn disabled">ON</a>
            {% endif %}
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
{% endblock %}
